.worldOthers{
    margin-top: 20px;
}
.worldOthers ul{list-style: none;}
.dataCircleDiv{
    text-align: center;
}
.dataCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgb(199, 89, 250);
    font-size: 2rem;
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    background: #84878a;
    margin-right: 6px;
}
.dot1{background: #2196f3}
.dot2{background: #2BAE66FF;}
.dot3{background: #f44336;}