.worldOthers {
  margin-top: 20px;
}
.worldOthers ul {
  list-style: none;
}
.dataCircleDiv {
  text-align: center;
}
.updateText {
  margin: 15px 0;
  text-align: center;
  font-style: italic;
  color: #aaaaaa;
}
.worldHeader {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
.srcBox {
}
.dataText {
  font-size: 30px;
  margin: 20px 0;
}
.countryData {
  margin-top: 60px;
}
.bar__chart {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}
.bar__chart h2 {
  text-align: center;
}
._chart {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ddd;
}
